@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Shop MK<br />
    Ilindenska bb.<br />
    <abbr title="Phone">P:</abbr>
    478.444.5548
</address>

<address>
    <strong>Support:</strong> <a href="mailto:shop@gmail.com">shop@gmail.com</a><br />
</address>
